.emailList {
  flex: 1;
  overflow: scroll;
  height: 100vh;
}

.emailList::-webkit-scrollbar {
  /* width: 0;  width of the entire scrollbar */
  display: none;
}

.emailList__setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
  border-bottom: 1px solid whitesmoke;
  background-color: white;
  padding-right: 10px;
}

.emailList__settingLeft {
  display: flex;
}

.emailList__settingRight {
  display: flex;
}

.emailList__sections {
  position: sticky;
  top: 0;
  display: flex;
  border-bottom: 1px solid whitesmoke;
  background-color: white;
  z-index: 999;
}

.emailList__List {
  padding-bottom: 20px;
}
